{% load i18n %}


<h3 style="text-align: center;">{% translate 'Dear User!' %}</h3>

<p>
  {% translate 'Thank you for registering in the' %}
  <a href="{{ SITE_HOST }}">{{ SITE_NAME }}</a>.
  <br>
  {% translate 'You need to complete the activation in order to verify your identity. To do this, please follow the link:' %}
  <a href="{{ SITE_HOST }}/{{ LANG_CODE }}/activation/{{ uid }}/{{ token }}">{% translate 'Confirm Email' %}</a>.
</p>

<hr>
<p style="color: #666; font-size: 12px; text-align: center;">
  <br>
  <em>Copyright &copy; {% now "Y" %} <a href="{{ SITE_HOST }}">{{ SITE_NAME }}</a></em>
  <br>
  <br>
  <em>{% translate 'This is an automatic letter, do not reply to it.' %}</em>
</p>
