{% load i18n %}


<h3 style="text-align: center;">{% translate 'Dear User!' %}</h3>

<p>
  {% translate 'You are receiving this email because you requested a password reset for your user account at ' %} {{ SITE_NAME }}.
  <br>
  {% translate 'Please go to the following page and choose a new password:' %}
  <a href="{{ SITE_HOST }}/{{ LANG_CODE }}/password/reset/{{ uid }}/{{ token }}">{% translate 'Password Reset' %}</a>.
  <br>
  {% translate 'Thanks for using our site!' %}
</p>

<hr>
<p style="color: #666; font-size: 12px; text-align: center;">
  <br>
  <em>Copyright &copy; {% now "Y" %} <a href="{{ SITE_HOST }}">{{ SITE_NAME }}</a></em>
  <br>
  <br>
  <em>{% translate 'This is an automatic letter, do not reply to it.' %}</em>
</p>
