{% load i18n %}


{% translate 'Dear User!' %}

{% translate 'You are receiving this email because you requested a password reset for your user account at ' %} {{ SITE_NAME }}.
{% translate 'Please go to the following page and choose a new password:' %}
{{ SITE_HOST }}/{{ LANG_CODE }}/password/reset/{{ uid }}/{{ token }}

{% translate 'Thanks for using our site!' %}


Copyright &copy; {% now "Y" %} {{ SITE_NAME }} ({{ SITE_HOST }})

{% translate 'This is an automatic letter, do not reply to it.' %}
