* {
  margin: 0;
  padding: 0;
}

.link-facebook:hover {
  color: #1877f2 !important;
}
.link-twitter:hover {
  color: #1da1f2 !important;
}
.link-instagram:hover {
  color: #e1306c !important;
}
.link-spotify:hover {
  color: #1db954 !important;
}
.link-youtube:hover {
  color: #ff0000 !important;
}
.link-soundcloud:hover {
  color: #ff8800 !important;
}
.link-pinterest:hover {
  color: #e60023 !important;
}
.link-vk:hover {
  color: #45668e !important;
}
.link-linkedin:hover {
  color: #0077b5 !important;
}

.bg-facebook {
  background-color: #1877f2 !important;
}
.bg-twitter {
  background-color: #1da1f2 !important;
}
.bg-instagram {
  background-color: #e1306c !important;
}
.bg-spotify {
  background-color: #1db954 !important;
}
.bg-youtube {
  background-color: #ff0000 !important;
}
.bg-soundcloud {
  background-color: #ff8800 !important;
}
.bg-pinterest {
  background-color: #e60023 !important;
}
.bg-vk {
  background-color: #45668e !important;
}
.bg-linkedin {
  background-color: #0077b5 !important;
}
.bg-website {
  background-color: #6c757d !important;
}

.rounded-4 {
  border-radius: 0.5rem !important;
}

.btn-brand {
  color: #fff;
  background: linear-gradient(110deg, #d2094b, #f94900);
  border-color: #e72a26;
}
.btn-brand:hover {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:focus + .btn-brand,
.btn-brand:focus {
  box-shadow: none;
}
.btn-check:active + .btn-brand,
.btn-check:checked + .btn-brand,
.btn-brand.active,
.btn-brand:active,
.show > .btn-brand.dropdown-toggle {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:active + .btn-brand:focus,
.btn-check:checked + .btn-brand:focus,
.btn-brand.active:focus,
.btn-brand:active:focus,
.show > .btn-brand.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-brand.disabled,
.btn-brand:disabled {
  color: #fff;
  background-color: #e72a26;
  border-color: #e72a26;
}

.btn-outline-brand {
  color: #e72a26;
  border-color: #e72a26;
}
.btn-outline-brand:hover {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:focus + .btn-outline-brand,
.btn-outline-brand:focus {
  box-shadow: none;
}
.btn-check:active + .btn-outline-brand,
.btn-check:checked + .btn-outline-brand,
.btn-outline-brand.active,
.btn-outline-brand.dropdown-toggle.show,
.btn-outline-brand:active {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:active + .btn-outline-brand:focus,
.btn-check:checked + .btn-outline-brand:focus,
.btn-outline-brand.active:focus,
.btn-outline-brand.dropdown-toggle.show:focus,
.btn-outline-brand:active:focus {
  box-shadow: none;
}
.btn-outline-brand.disabled,
.btn-outline-brand:disabled {
  color: #e72a26;
  background-color: transparent;
}

.btn-light-brand {
  color: #e72a26;
  background-color: #ffe8e8;
  border-color: #ffe8e8;
}
.btn-light-brand:hover {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:focus + .btn-light-brand,
.btn-light-brand:focus {
  box-shadow: none;
}
.btn-check:active + .btn-light-brand,
.btn-check:checked + .btn-light-brand,
.btn-light-brand.active,
.btn-light-brand:active,
.show > .btn-light-brand.dropdown-toggle {
  color: #fff;
  background: linear-gradient(110deg, #b80742, #d13f00);
}
.btn-check:active + .btn-light-brand:focus,
.btn-check:checked + .btn-light-brand:focus,
.btn-light-brand.active:focus,
.btn-light-brand:active:focus,
.show > .btn-light-brand.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-light-brand.disabled,
.btn-light-brand:disabled {
  color: #fff;
  background-color: #e72a26;
  border-color: #e72a26;
}

.nav-link:hover {
  cursor: pointer;
  color: #e72a26 !important;
}
.nav-link.active {
  color: #e72a26 !important;
}

.nav-pills .nav-link {
  transition: all .2s;
  transition-delay: 0s;
}
.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
  background-color: #f5f5f5;
  transform: translateX(8px);
}
.nav-pills .nav-link.active {
  border-left: 2px red solid;
}

.dropdown-menu {
  z-index: 1050;
}
.dropdown-item:hover {
  cursor: pointer;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #e72a26;
}

#dropdownSearch:hover,
#dropdownSearch:focus-within {
  border-color: #e72a26 !important;
}

.form-control:hover,
.form-control:focus,
.form-select:active {
  border-color: #e72a26 !important;
  box-shadow: none !important;
}

.form-select:hover {
  cursor: pointer;
  border-color: #e72a26 !important;
}
.form-select:focus {
  border-color: #e72a26 !important;
  box-shadow: none !important;
}

.text-white > div > div > div > a,
.text-white > div > div > div > h6 > a {
  color: #ffffff;
}
.text-dark > div > div > div > a,
.text-dark > div > div > div > h6 > a {
  color: #000000;
}
